ion-content {
  --background: none;
  background: linear-gradient(135deg, #1d0081, #1b1135);
  ion-toolbar {
    --background: none;
    .head {
      display: flex;
      justify-content: space-between;
      ion-icon {
        font-size: 30px;
        color: white;
      }
      ion-progress-bar {
        position: absolute;
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
      }
      ion-badge {
        --padding-end: 15px;
        --padding-start: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #434343;
      }
    }
  }
  h1 {
    text-align: center;
    width: 100%;
    font-size: 50px;
  }
  .continue {
    top: 90%;
    left: 50%;
    width: 100%;
    padding: 32px;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
  ion-button {
    color: white;
    --background: #37377e;
    width: 100%;
  }
  .input-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 32px;
  }
  ion-input {
    width: 100%;
    --background: rgba(55, 55, 126, 0.46);
    --border-radius: 25px;
    --padding-start: 20px;
    --padding-top: 25px;
    --padding-bottom: 25px;
  }
  .questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    ion-list {
      background: none;
      span {
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        ion-badge {
          margin-right: 15px;
          color: black;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: flex;
          padding: 0;
          background: #18dcff;
          ion-text {
            font-size: 15px;
            width: 100%;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
