@font-face {
  font-family: 'coolvetica';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/CoolveticaRg.otf") format("truetype");
}

:root {
  --ion-font-family: 'coolvetica';
}
